@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy"),
  url("./fonts/gilroyextrabold.woff2") format("woff2"),
  url("./fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"),
  url("./fonts/gilroylight.woff2") format("woff2"),
  url("./fonts/gilroylight.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-header {
  padding: 23px 60px 37px;

  background-color: #f7e296;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 20%, #f7e296 20%, #f7e296 100%);
}

.header-logo {
  display: block;

  width: 164px;
  height: 36px;
  margin-right: auto;
  margin-bottom: 30px;

  outline: none;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-controls {
  display: flex;

  margin-bottom: 25px;
}

.search-form {
  margin-right: auto;
  font-size: 0;
}

.search-form__input {
  position: relative;

  padding: 7px 10px 8px 35px;

  font: inherit;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);

  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("/img/search.svg");
  background-repeat: no-repeat;
  background-position: top 15px left;
  border-bottom: 2px solid transparent;
}

.search-form__input::placeholder {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.search-form__input:hover,
.search-form__input:focus,
.search-form__input:hover::placeholder,
.search-form__input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:focus {
  border-bottom: 2px solid #000000;
}

.search-form__submit {
  padding: 8px 20px;

  font: inherit;
  font-size: 15px;
  color: transparent;

  border: 2px solid transparent;
  background-color: transparent;
}

.search-form__input:focus + .search-form__submit {
  color: #000000;

  border: 2px solid black;
}

.search-form__input + .search-form__submit:hover,
.search-form__input + .search-form__submit:focus {
  color: #ffffff;

  background-color: #000000;
}

.search-form__input + .search-form__submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu {
  display: flex;

  width: 260px;
  margin: 0 20px 0 0;
  padding: 0;

  list-style: none;
}

.user-menu li:not(:last-child) {
  margin-right: 20px;
}

.user-menu__link {
  display: block;
  padding: 7px;

  color: inherit;

  background-repeat: no-repeat;
  background-position: top 13px left;
}

.user-menu__link_enter,
.user-menu__link_name {
  padding-left: 30px;
  background-image: url("/img/user.svg");
}

.user-menu__link:hover,
.user-menu__link:focus {
  opacity: 0.6;
}

.user-menu__link:active {
  opacity: 0.3;
}

.compare {
  margin: 0 20px 0 0;
  padding: 7px 7px 7px 30px;

  color: inherit;
  background-repeat: no-repeat;
  background-position: top 13px left;
  background-image: url("/img/compare.svg");
}

.compare:hover,
.compare:focus {
  opacity: 0.6;
}

.compare:active {
  opacity: 0.3;
}

.cart {
  padding: 7px 7px 7px 30px;

  color: inherit;
  background-repeat: no-repeat;
  background-position: top 13px left;
  background-image: url("/img/cart.svg");
}

.cart:hover,
.cart:focus {
  opacity: 0.6;
}

.cart:active {
  opacity: 0.3;
}

/*main-nav*/

.main-nav__pages-list {
  position: relative;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__page-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

.main-nav__page-item_catalog {
  margin-right: auto;
  padding-right: 25px;
  background-image: url("/img/plus.svg");
  background-repeat: no-repeat;
  background-position: top 10px right;
}

.main-nav__page-item_delivery {
  margin-right: 40px;
}

.main-nav__page-item_warranty {
  margin-right: 110px;
}

.main-nav__page-link {
  color: inherit;
}

.main-nav__page-link:hover,
.main-nav__page-link:focus {
  opacity: 0.6;
}

.main-nav__page-link:active {
  opacity: 0.3;
}

.main-nav_catalog-list {
  position: absolute;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 1160px;
  margin: 0 0 0 -60px;
  padding: 0 500px 30px 60px;

  list-style-type: none;
  background-color: #f7e296;
}

.main-nav__catalog-item_pusher {
  margin-right: 220px;
}

.main-nav__catalog-link {
  margin-right: 40px;

  line-height: 36px;
  text-transform: none;
  color: inherit;
}

.main-nav__catalog-link:hover,
.main-nav__catalog-link:focus {
  opacity: 0.6;
}

.main-nav__catalog-link:active {
  opacity: 0.3;
}

/*slider*/

.slider {
  margin-bottom: 95px;
}

.slide {
  display: flex;
  justify-content: space-between;
}

.slide__left-wrapper {
  display: flex;
  justify-content: center;
  vertical-align: center;

  width: 580px;
}

.slide__right-wrapper {
  width: 580px;
  padding: 120px 20px 0;
}


.slide__tagline {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  text-transform: none;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button:active {
  opacity: 0.3;
}

.slide__properties td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.slide__properties th {
  font-size: 13px;
  line-height: 20px;
  font-weight: inherit;
}

/*promo-catalog*/

.promo-catalog {
  margin-bottom: 70px;
}

.promo-catalog__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-catalog__list a {
  display: block;

  width: 160px;
  height: 250px;
  padding-top: 195px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7e296;
}

.promo-catalog__list a:active {
  opacity: 0.3;
}

/*services*/

.services {
  margin-bottom: 94px;
  padding-bottom: 70px;

  background-color: #e5e5e5;
}

.services-container {
  display: flex;
  justify-content: space-between;
}

.services__list {
  width: 284px;
  min-height: 315px;
  margin: 0;
  padding: 0;

  list-style: none;
  border-right: 7px solid #000000;
}

.services__item button:active,
.services__item-current button {
  color: #f7e184;

  background-color: #000000;
  opacity: 1;
}

.services-slider {
  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-slider-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

/*popular-brands*/

.popular-brands__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-brands__link img {
  filter: grayscale(100%);
  opacity: 0.2;
}

.popular-brands__link:hover img,
.popular-brands__link:focus img {
  filter: grayscale(0);
  opacity: 1;
}

/*company-description*/

.company-description {
  display: flex;
  justify-content: space-between;
}

.about__heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.about__delivery-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;

  list-style: circle;
}

.contacts__heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

/*main-footer*/

.main-footer {
  padding: 65px 0;

  color: #ffffff;

  background-color: #464646;
}

.main-footer__top {
  display: flex;

  margin-bottom: 40px;
}

.main-footer__logo {
  width: 164px;
  height: 36px;
  margin-right: auto;
}

.main-footer__logo:hover,
.main-footer__logo:focus {
  opacity: 0.6;
}

.main-footer__logo:active {
  opacity: 0.3;
}

.main-footer__user-menu a {
  color: inherit;

  opacity: 0.7;
}

.main-footer__user-menu a:hover,
.main-footer__user-menu a:focus {
  opacity: 1;
}

.main-footer__user-menu a:active {
  opacity: 0.3;
}

.main-footer__compare {
  margin: 0 20px 0 0;

  color: inherit;

  opacity: 0.7;
}

.main-footer__cart {
  color: inherit;

  opacity: 0.7;
}

.main-footer__compare:hover,
.main-footer__compare:focus,
.main-footer__cart:hover,
.main-footer__cart:focus {
  opacity: 1;
}

.main-footer__compare:active,
.main-footer__cart:active {
  opacity: 0.3;
}

.main-footer__middle {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}

.main-footer__address {
  margin: 0;
}

.main-footer__services-list {
  display: flex;
  justify-content: space-between;

  width: 440px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__services-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
}

.main-footer__services-list a:hover,
.main-footer__services-list a:focus {
  opacity: 0.6;
}

.main-footer__services-item a:active {
  opacity: 0.3;
}

.main-footer__phone {
  color: inherit;
}

.main-footer__phone:hover,
.main-footer__phone:focus {
  opacity: 0.6;
}

.main-footer__phone:active {
  opacity: 0.3;
}

.main-footer__bottom {
  display: flex;
  justify-content: space-between;

  padding-left: 500px;
}

.main-footer__social-list {
  display: flex;
  justify-content: space-between;

  width: 160px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer__social-list a {
  background-color: #cccccc;
  opacity: 0.3;
}

.main-footer__social-list a:hover,
.main-footer__social-list a:focus {
  opacity: 0.6;
}

.main-footer__social-list a:active {
  opacity: 0.1;
}

/*modal-contact*/

.modal-contact {
  width: 960px;
  min-height: 553px;
  padding: 95px 100px 80px;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.contact-form__row {
  display: flex;
  justify-content: space-between;
}

.contact-form p {
  margin: 0;
}

.contact-form__input-label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.contact-form input {
  width: 360px;
}

.contact-form input,
.contact-form textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
  border: none;
}

.contact-form textarea {
  width: 760px;
}

.contact-form input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.contact-form input:hover,
.contact-form textarea:hover,
.contact-form input:hover::placeholder,
.contact-form input:focus::placeholder,
.contact-form textarea:hover::placeholder,
.contact-form textarea:focus::placeholder {
  color: #464646;

  background-color: #ebebeb;
}

.contact-form input:invalid,
.contact-form textarea:invalid {
  background-color: #f6dada;
  border: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  color: #464646;

  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #f0c52e;
  outline: none;
}

/*monopods-page*/

.catalog-page {
  padding-top: 40px;
}

.catalog-page__heading {
  margin: 0 0 30px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.catalog-page__breadcrumbs {
  display: flex;

  margin: 0 0 45px;
  padding: 0;

  list-style: none;
}

.catalog-page__breadcrumbs a {
  padding-right: 40px;

  font-size: 14px;
  line-height: 18px;
  color: inherit;

  opacity: 0.3;
}

.catalog-page__breadcrumbs a:hover,
.catalog-page__breadcrumbs a:focus {
  opacity: 0.6;
}

.catalog-page__breadcrumbs a:active {
  opacity: 0.1;
}

.catalog-page__content-wrapper {
  display: flex;
}

/*filter*/

.filter {
  background-color: #efefef;
}

.filter__heading {
  margin: 0;
  padding: 23px 60px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;

  background-color: #dbdbdb;
}

.filter-form {
  width: 100%;
  padding: 70px 66px 0 60px;
}

.filter-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-form__legend {
  width: 100%;
  padding-top: 16px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  border-top: 2px solid #000000;
}

.filter-form__price-label,
.filter-form__price-input {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: inherit;

  opacity: 0.2;
}

.filter__colors-list,
.filter__bluetooth-list {
  list-style: none;
}

.filter-form__input + label {
  font-size: 14px;
  line-height: 40px;
}

.filter-form__input:disabled + label {
  color: #a6a6a6;
}

/*sorting*/

.goods__sorting {
  display: flex;

  width: 100%;
  padding: 25px 0 25px 70px;

  background-color: #ebebeb;
}

.goods__sorting-heading {
  margin: 0;
}

.goods__sorting-list,
.goods__sorting-order-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.goods__sorting-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

.goods__sorting-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;

  opacity: 0.3;
}

.goods__sorting-item a:hover,
.goods__sorting-item a:focus,
.goods__sorting-order-item a:hover,
.goods__sorting-order-item a:focus {
  opacity: 0.6;
}

.goods__sorting-item a:active,
.goods__sorting-item_current a,
.goods__sorting-order-item_current,
.goods__sorting-order-item a:active {
  opacity: 1;
}

.goods__sorting-order-item {
  opacity: 0.2;
}

/*goods*/

.goods__goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 70px 0 40px 70px;

  list-style: none;
}

.goods__good-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.goods__good-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.good-controls {
  width: 360px;
  min-height: 380px;
  padding-top: 170px;

  text-align: center;
}

.goods__pagination {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  background-color: #ebebeb;
  list-style: none;
}

.goods__page_numbers {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods__pagination a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: inherit;
}

.goods__page-ends:hover,
.goods__page-ends:focus {
  background-color: #d9d9d9;
}

.goods__page-ends:active {
  opacity: 0.3;
}

.goods__page-number {
  opacity: 0.3;
}

.goods__page-number:hover,
.goods__page-number:focus {
  opacity: 0.6;
}

.goods__page-number:active {
  opacity: 1;
}

.goods__page-number_current {
  opacity: 1;
}

.goods__page-number_current:hover,
.goods__page-number_current:focus {
  opacity: 1;
}
